In [1]:
suppressMessages(library(ArchR))
suppressMessages(library(Seurat))
suppressMessages(library(Signac))
suppressMessages(library(harmony))
suppressMessages(library(dplyr))
suppressMessages(library(cowplot))

In [2]:
obj.rna <- readRDS("../../../snRNA/from_rico/integrated_snrnaseq/integrated_rnasamples_ann.rds")

In [3]:
obj.rna

An object of class Seurat
29126 features across 191795 samples within 1 assay
Active assay: RNA (29126 features, 0 variable features)
 3 dimensional reductions calculated: pca, harmony, umap_harmony

In [4]:
unique(obj.rna$cell_type)

 [1] "Fib"      "CM"       "Endo"     "Myeloid"  "Neuronal" "PC"
 [7] "Mast"     "Lymphoid" "prolif"   "vSMCs"    "Adipo"

In [5]:
## subset all vSMCs cells
obj.rna <- subset(obj.rna, cell_type == "Adipo")

In [6]:
obj.rna

An object of class Seurat
29126 features across 523 samples within 1 assay
Active assay: RNA (29126 features, 0 variable features)
 3 dimensional reductions calculated: pca, harmony, umap_harmony

In [7]:
head(obj.rna@meta.data)

                                               orig.ident nCount_RNA
ACACCAAGTGTCATGT-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 CK158      9255
GTAGGAGTCCGTATAG-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 CK158      5917
ACCTGTCGTCTACAGT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 CK159      4226
ACTTAGGTCTAATTCC-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 CK159       931
ATAGACCTCAAGCTTG-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 CK159      1052
GATTTCTAGGTGGGTT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 CK159      1580
                                               nFeature_RNA percent.mt
ACACCAAGTGTCATGT-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 4157         0.08643976
GTAGGAGTCCGTATAG-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 1540         0.03380091
ACCTGTCGTCTACAGT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 2238         0.18930431
ACTTAGGTCTAATTCC-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1  660         0.21482277
ATAGACCTCAAGCTTG-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1  792         0.00000000
GATTTCTAGGTGGGTT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 1043         0.18987342
                                               doublet_score doublet
ACACCAAGTGTCATGT-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 0.4783814549  singlet
GTAGGAGTCCGTATAG-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 0.1128454581  singlet
ACCTGTCGTCTACAGT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 0.3332936764  singlet
ACTTAGGTCTAATTCC-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 0.0004169460  singlet
ATAGACCTCAAGCTTG-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 0.0002242889  singlet
GATTTCTAGGTGGGTT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 0.1088661030  singlet
                                               dissociation_s1 opt_clust
ACACCAAGTGTCATGT-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1  0.12774948     1
GTAGGAGTCCGTATAG-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 -0.01719489     19
ACCTGTCGTCTACAGT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1  0.03033608     6
ACTTAGGTCTAATTCC-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1  0.06698917     3
ATAGACCTCAAGCTTG-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1  0.12152642     3
GATTTCTAGGTGGGTT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1  0.10328151     4
                                               patient batch
ACACCAAGTGTCATGT-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 P1      A
GTAGGAGTCCGTATAG-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 P1      A
ACCTGTCGTCTACAGT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 P5      A
ACTTAGGTCTAATTCC-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 P5      A
ATAGACCTCAAGCTTG-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 P5      A
GATTTCTAGGTGGGTT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 P5      A
                                               opt_clust_integrated cell_type
ACACCAAGTGTCATGT-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 28                   Adipo
GTAGGAGTCCGTATAG-1_1_1_1_1_1_1_1_1_1_1_1_1_1_1 28                   Adipo
ACCTGTCGTCTACAGT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 28                   Adipo
ACTTAGGTCTAATTCC-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 28                   Adipo
ATAGACCTCAAGCTTG-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 28                   Adipo
GATTTCTAGGTGGGTT-1_2_1_1_1_1_1_1_1_1_1_1_1_1_1 28                   Adipo

In [8]:
## add annotation for samples
df_sample_annotation <- read.csv("../../../snRNA/metadata/sample_annotation.csv", header = TRUE)
head(df_sample_annotation)

sample_to_region <- df_sample_annotation$region_novel
sample_to_patient <- df_sample_annotation$patient
sample_to_patient_region <- df_sample_annotation$patient_region_id
sample_to_patient_group <- df_sample_annotation$patient_group

names(sample_to_region) <- df_sample_annotation$sample_id
names(sample_to_patient) <- df_sample_annotation$sample_id
names(sample_to_patient_region) <- df_sample_annotation$sample_id
names(sample_to_patient_group) <- df_sample_annotation$sample_id

  sample_id region_novel patient patient_region_id patient_group
1 CK158     control      P1      control_P1        group_1
2 CK162     FZ/GT        P4      FZ/GT_P4          group_3
3 CK165     IZ/BZ        P2      IZ/BZ_P2          group_2
4 CK163     RZ/BZ        P2      RZ/BZ_P2          group_1
5 CK161     IZ           P3      IZ_P3             group_2
6 CK160     RZ/BZ        P3      RZ/BZ_P3          group_1

In [9]:
obj.rna@meta.data$region <- stringr::str_replace_all(obj.rna@meta.data$orig.ident, sample_to_region)
obj.rna@meta.data$patient <- stringr::str_replace_all(obj.rna@meta.data$orig.ident, sample_to_patient)
obj.rna@meta.data$patient_region_id <- stringr::str_replace_all(obj.rna@meta.data$orig.ident, sample_to_patient_region)
obj.rna@meta.data$patient_group <- stringr::str_replace_all(obj.rna@meta.data$orig.ident, sample_to_patient_group)

In [10]:
df_cell_count <- as.data.frame(obj.rna@meta.data) %>%
    group_by(orig.ident) %>%
    summarise(count = n()) %>%
    arrange(desc(count))

df_cell_count

   orig.ident count
1  CK164      175
2  CK367      175
3  CK370       31
4  CK371       22
5  CK369       20
6  CK366       12
7  CK160       11
8  CK363       11
9  CK359       10
10 CK358        8
11 CK159        7
12 CK360        7
13 CK162        4
14 CK163        4
15 CK361        4
16 CK357        3
17 CK362        3
18 CK365        3
19 CK158        2
20 CK356        2
21 CK364        2
22 CK368        2
23 CK374        2
24 CK161        1
25 CK165        1
26 CK376        1

In [11]:
# we remove samples with less than 50 cells
df_cell_count <- subset(df_cell_count, count > 20)
obj.rna.sub <- subset(obj.rna, orig.ident %in% df_cell_count$orig.ident)

obj.rna.sub

An object of class Seurat
29126 features across 457 samples within 1 assay
Active assay: RNA (29126 features, 0 variable features)
 3 dimensional reductions calculated: pca, harmony, umap_harmony

In [ ]:
obj.rna.sub <- obj.rna.sub %>% 
        NormalizeData() %>%
        FindVariableFeatures() %>%
        ScaleData() %>%
        RunPCA(verbose = FALSE) %>%
        RunUMAP(dims = 1:30)

In [ ]:
options(repr.plot.height = 5, repr.plot.width = 20)

p1 <- DimPlot(obj.rna.sub, reduction = "umap", group.by = "orig.ident")
p2 <- DimPlot(obj.rna.sub, reduction = "umap", group.by = "patient")
p3 <- DimPlot(obj.rna.sub, reduction = "umap", group.by = "region")
p4 <- DimPlot(obj.rna.sub, reduction = "umap", group.by = "patient_group", label = TRUE)

patchwork::wrap_plots(list(p1, p2, p3, p4), nrow = 1)

In [ ]:
obj.rna.sub <- RunHarmony(obj.rna.sub, 
                      group.by.vars = c("orig.ident", "patient", "region"),
                     reduction = "pca", 
                      max.iter.harmony = 30, 
                      dims.use = 1:30,
                     project.dim = FALSE,
                     plot_convergence = TRUE)


obj.rna.sub <- RunUMAP(obj.rna.sub, 
               dims = 1:30, 
               reduction = 'harmony',
               reduction.name = "umap_harmony",
               reduction.ke = 'umapharmony_',
              verbose = FALSE,
                   min.dist = 0.4)

In [ ]:
options(repr.plot.height = 5, repr.plot.width = 20)

p1 <- DimPlot(obj.rna.sub, reduction = "umap_harmony", group.by = "orig.ident")
p2 <- DimPlot(obj.rna.sub, reduction = "umap_harmony", group.by = "patient")
p3 <- DimPlot(obj.rna.sub, reduction = "umap_harmony", group.by = "region")
p4 <- DimPlot(obj.rna.sub, reduction = "umap_harmony", group.by = "patient_group", label = TRUE)

patchwork::wrap_plots(list(p1, p2, p3, p4), nrow = 1)

In [ ]:
obj.rna.sub <- FindNeighbors(obj.rna.sub, reduction = "harmony", dims = 1:30)
obj.rna.sub <- FindClusters(obj.rna.sub, resolution = 0.1, verbose = FALSE)

In [ ]:
options(repr.plot.height = 5, repr.plot.width = 5)
DimPlot(obj.rna.sub, reduction = "umap_harmony", group.by = "RNA_snn_res.0.1", label = TRUE)

In [ ]:
# suppressMessages(library(Nebulosa))

# options(repr.plot.height = 5, repr.plot.width = 10)

# p1 <- plot_density(obj.rna.sub, features="KIT", reduction="umap_harmony")
# p2 <- plot_density(obj.rna.sub, features="CPA3", reduction="umap_harmony")

# patchwork::wrap_plots(list(p1, p2), nrow = 1)

In [ ]:
if(!dir.exists("../data/snRNA")){
    dir.create("../data/snRNA")
}

In [ ]:
# # find marker
# Idents(obj.rna.sub) <- "RNA_snn_res.0.1"

# all.markers <- FindAllMarkers(obj.rna.sub, only.pos = TRUE, min.pct = 0.25, logfc.threshold = 0.25)

# df <- all.markers %>%
#     group_by(cluster) %>%
#     slice_max(n = 10, order_by = avg_log2FC)

# # Dot plots - the size of the dot corresponds to the percentage of cells expressing the
# # feature in each cluster. The color represents the average expression level
# options(repr.plot.height = 4, repr.plot.width = 15)
# DotPlot(obj.rna.sub, features = unique(df$gene)) + RotatedAxis()

In [ ]:
# markerList <- split(all.markers, all.markers$cluster)

# for(i in 1:length(markerList)){
#     markerList[[i]] <- markerList[[i]][order(-markerList[[i]]$avg_log2FC), ]
# }

# WriteXLS::WriteXLS(markerList,
#                    ExcelFileName = "../data/snRNA/MarkerGenes.xlsx",
#                    SheetNames = names(markerList))

# saveRDS(all.markers, "../data/snRNA/MarkerGenes.rds")

In [ ]:
saveRDS(obj.rna.sub, "../data/snRNA/snRNA.rds")

In [ ]:
sessionInfo()